.todoCard {
    width: 30rem;
}

.todoImage {
    height: 25rem;
}

.dirWatcherCard {
    width: 30rem;
    position: relative;
    left: 755px;
    top: -430px;
}

.dirWatcherImage {
    height: 25rem;
}

.consoleCalculatorCard{
    width: 30rem;
    position: relative;
    left: 1502px;
    top: -859px;
}

.cSharpImage {
    height: 25rem;
}
