ul {
  display: inline-block;
}
.workDiv {
  width: 350px;
  overflow-wrap: break-word;
}

.workDiv li {
  text-align: left;
  font-size: medium;
}

.column {
  position: relative;
  width: 1400px;
  left: 100px;
}

.column2 {
  position: relative;
  width: 1400px;
  left: 740px ;
  top: -582px;
}

.column3 {
  position: relative;
  width: 1400px;
  left: 1370px;
  top: -1067px;
}