@media (max-height: 1200px){
    .dirWatcherCard{
        height: 100%;
    }

    .dirWatcherImage {
        height: 85%;
    }
}

@media (min-height: 640px){
    .dirWatcherCard{
        height: 100%;
    }

    .dirWatcherImage {
        height: 65%;
    }
}