@media (max-height: 1200px) {
    .consoleCalculatorCard {
        height: 100%;
    }
    
    .cSharpImage {
        height: 85%;
    }
}


@media (min-height: 640px) {

.consoleCalculatorCard {
    height: 100%;
}

.cSharpImage {
    height: 65%;
} 
}
